<app-navbar></app-navbar>
<app-bread-crumb [items]="">
</app-bread-crumb>

<app-page-header page-title="Veja nossos produtos"></app-page-header>

<!-- Page Content -->
<div class="container .body">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Produtos em Destaque</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    <div *ngFor="let store of resources" class="col-lg-3 col-md-4 col-6 mb-5">

      <a href="#" class="d-block mb-4 h-80">
        <img class="img-fluid img-thumbnail" style="max-height: 250px;" src={{store.product.picture}} alt="imagem">
      </a>
      <span class="d-none">{{store.productId}}</span>
      {{store.product.name}}<br>
      Estoque {{store.product.qty}}<br>

      <span class="text-danger"> R$ {{store.product.price}}<br></span>

      <a routerLink="/carts" class="btn btn-outline-info mt-3 btn-sm d-flex justify-content-center mx-5">Comprar</a>
    </div>
  </div>
</div>
