<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <a class="navbar-brand" routerLink="/">POC Virtual Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav liSize-100">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/stores">Loja</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/users">Usuário</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/orders">Pedidos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/products">Produtos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" role="button" id="openModal" data-toggle="modal" data-target="#modals">sobre</a>
      </li>
      <li class="liSize-55 nav-item" routerLinkActive="active">
        <button class=" float-right nav-link btn btn-success btnColorGreen btn-lm mx-2 text-lm pt-2 px-4"
          routerLink="/logins">Entrar</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button class="nav-link btn btn-outline-light btnhover btnBgColor ml-4 pt-2" routerLink="/carts">
          <span><i class="pi pi-shopping-cart"></i>&nbsp;Carrinho</span>
          <span class="text-primary ml-1">0</span>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="modal" id="modals" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Loja Virtual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta loja virtual é uma POC desenvolvida por Fabiano de Souza Pereira.</p>
        <p>Tendo como intuito demonstrar o conhecimento adquirido nas mais diversas tecnologias.</p>
        <p>Esta aplicação web traz recursos criados com Angular, e postgres encapsulado dentro de um Docker container.
        </p>
        <p>Para ver os detalhes completos sobre esta aplicação visite o codigo fonte no github
          <a href="https://github.com/FabianoSouzaPereira/pocvirtualstore">
            Virtual Store
          </a>.
        </p>
      </div>
      <div class="modal-footer d-flex">
        <span>
          <p>site: <a href="https://fabianospdev.com.br">fabianospdev.com.br</a></p>
        </span>
        <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#openModal').click(function () {
      $('#modals').modal('show');
    });
  });
</script>
