<app-bread-crumb [items]="[{text: 'Produtos'}]"></app-bread-crumb>

<!-- <app-page-header
  page-title="Produtos"
  button-text="+ Novo Lançamento"
  button-link="new"
  button-class="btn-success"
></app-page-header> -->


<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Order</th>
      <th>Cliente</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of resources">
      <td>
        <strong>{{order.number}}</strong><br>
        <small class="text-success">{{order.date}}</small><br>
        <small *ngIf="order.user">{{order.user}}</small>
      </td>
      <td>
        {{order.paidText}}
      </td>
      <td class="text-center">
        <a [routerLink]="[order.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(order)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
