<app-navbar></app-navbar>
<app-bread-crumb [items]="[{text: 'Produto', link: '/products'}, {text: pageTitle}]">
</app-bread-crumb>

<app-page-header [page-title]="pageTitle"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()" class="px-5 pb-5">
  <div class="form-group col-md-12">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Produto">
    <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
  </div>
  <div class="form-group col-md-12">
    <label for="description">Descrição</label>
    <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descrição">
  </div>
  <!-- categoryId -->
  <div class="d-inline-block form-group col-md-3">
    <label for="categoryId">Categoria</label>

    <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>

    <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>
  </div>
  <div class="d-inline-block form-group col-md-3">
    <label for="Qty">Quantidade</label>
    <input type="text" class="form-control" id="Qty" formControlName="qty" placeholder="0">
    <app-form-field-error [form-control]="resourceForm.get('qty')"></app-form-field-error>
  </div>
  <div class="d-inline-block form-group col-md-3">
    <label for="type">Tipo</label>

    <select name="type" id="type" formControlName="type" class="form-control">
      <option *ngFor="let option of typeOptions" [value]="option.value">{{ option.text }}</option>
    </select>

    <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
  </div>
  <div class="form-group col-md-12">
    <label for="details">Detalhes do produto</label>
    <textarea class="form-control" id="details" formControlName="details" rows="3">{{resource.details}}</textarea>
  </div>
  <div class="form-group col-md-3">
    <label for="price">Preço</label>
    <input type="text" class="form-control" id="price" formControlName="price" placeholder="0.00">
  </div>
  <div class="form-group col-md-3">
    <label for="date">Data</label>
    <input type="text" class="form-control" formControlName="date" id="date" placeholder="Data">
  </div>
  <div class="p-4  text-center col-md-3 border">
    <div *ngFor="let product of resource" class="form-control">

      <!-- //TODO esta parte não está carrega a imagem -->

      <img src={{product.picture}} name="picture" class="rounded img-fluid img-thumbnail" alt="imagem">
    </div>
  </div>
  <div class="form-group">
    <label for="File1">Adicionar imagem</label>
    <input type="file" class="form-control-file" id="File1" formControlName="picture">
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid " type="submit" class="btn btn-primary">Salvar</button>
</form>
<script>

</script>
